<div class="services-banner">
  <div class="services-banner-icon">
    <i class="fa-solid fa-handshake"></i>
  </div>
  <div class="services-banner-text">
    <h3 class="services-banner-title">Professional Support &amp; Services</h3>
    <p class="services-banner-desc">Need consulting, custom development, or training? DIPY partners can help.</p>
  </div>
  <a href="support.html" class="btn-link services-banner-cta">
    <button class="btn btn-regular">
      Learn More <i class="fa-solid fa-arrow-right pad-l-5"></i>
    </button>
  </a>
</div>
