html[data-theme="light"] {
  --gst-color-primary: #FD8D25;
  --gst-color-secondary: #1B8BF4;
  --gst-color-bg: var(--bs-white);
  --gst-color-bg-gray: var(--bs-gray-100);
  --gst-color-light-border: var(--pst-color-border);
}

html[data-theme="dark"] {
  --gst-color-primary: #FD8D25;
  --gst-color-secondary: #1B8BF4;
  --gst-color-bg: var(--bs-gray-900);
  --gst-color-bg-gray: var(--bs-gray-900);
  --gst-color-light-border: transparent;
}
