.carousel-item {
  height: 440px;
}

.carousel-item img {
  border: 1px solid var(--gst-color-border);
}

.carousel-indicators [data-bs-target] {
  background-color: var(--gst-color-primary);
}


.carousel-caption {
  opacity: 0.9;
  width: fit-content;
  bottom: auto;
  top: 40px;
  left: 0;
  background-color: var(--gst-color-primary);
  box-shadow: var(--pst-shadow);
}

.carousel-caption::after {
  position: absolute;
  content: "";
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 35% 50%);
  background-color: var(--gst-color-primary);
  width: 60px;
  transform: scaleX(-1);
  right: -40px;
  top: 0;
}

.carousel-caption::before {
  position: absolute;
  left: 0;
  content: "";
  width: 20px;
  height: 100%;
  background-image: linear-gradient(45deg, transparent 50%, var(--gst-color-primary-border) 50%);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: -1;
}


.carousel-caption h5 {
  color: var(--bs-white);
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}

.carousel-caption a,
.carousel-caption a:visited {
  color: var(--bs-white);
}

@media only screen and (max-width: 768px) {
  .carousel-item {
    height: 260px;
  }

  .carousel-caption {
    opacity: 0.9;
    bottom: 70px;
    padding: 10px 20px !important;
    top: auto;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 12px;
    background-color: var(--gst-color-primary);
    box-shadow: none;
  }

  .carousel-caption::after {
    content: none;
  }
  
  .carousel-caption::before {
    content: none;
  }

  .carousel-caption h5 {
    font-size: 18px;
  }
}