.explore {
  display: grid;
}

.explore-tile {
  box-shadow: var(--pst-shadow);
}

.explore-tile-icon {
  background-color: var(--gst-color-primary);
  height: 40px;
  width: 40px;
  border-radius: 4px;
}

/* Styles for phones */
@media only screen and (max-width: 768px) {
  /* Your CSS styles for phones go here */
  .explore {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Styles for tablets */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Your CSS styles for tablets go here */
  .explore {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Styles for laptops and desktops */
@media only screen and (min-width: 1025px) {
  /* Your CSS styles for laptops and desktops go here */
  .explore {
    grid-template-columns: repeat(4, 1fr);
  }
}
