.explore {
  display: grid;
  gap: 3em;
}

.explore-tile {
  box-shadow: var(--pst-shadow);
  border-radius: 12px;
  /* TODO This should be removed as the util will be available */
  /* padding: 48px 20px; */
  background-color: var(--gst-color-bg);
}

.explore-tile-icon {
  background-color: var(--gst-color-primary);
  height: 55px;
  width: 55px;
  border-radius: 12px;
  /* TODO This should be removed as the util will be available */
  padding: 12px;
  margin-bottom: 24px;
  box-shadow: var(--pst-shadow);
}

.explore-tile-title {
  font-weight: 600;
}

.explore-tile-know-more,
.explore-tile-know-more:visited {
  color: var(--gst-color-primary);
}